.App {
  text-align: center;
  /* display: flex;
  flex-direction: row; */
}

main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  /* justify-content: space-around; */
  gap: 20px;
}
